<div class="container">
    <div class="row">
        <div class="col-12 header">
            <h1>User Deatils</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a href="showAllUser" class="nav-link">Show All User</a>
                </li>
                <li class="nav-item">
                    <a href="findUser" class="nav-link">Find User</a>
                </li>
                <li class="nav-item">
                    <a href="updateUser" class="nav-link">Update User</a>
                </li>
                <li class="nav-item">
                    <a href="addUser" class="nav-link">Add User</a>
                </li>
            </ul>
        </div>
    </div>
</div>