h1{
    text-align: center;
}
.main{
    background-color: yellow;
}


/* .nav-link:hover,
.nav-link.active{
    color: white;
    background:DarkSeaGreen;
} */

/* table-hover table-responsive-md */

